USE [ITHelpdeskDB]
GO
/****** Object:  Table [dbo].[TicketMessages]    Script Date: 20.04.2026 01:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[MessageBody] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 20.04.2026 01:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[AttachmentPath] [nvarchar](max) NULL,
	[AttachmentDate] [datetime] NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.04.2026 01:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TicketMessages] ON 

INSERT [dbo].[TicketMessages] ([Id], [TicketId], [UserId], [MessageBody], [CreatedAt], [IsDeleted], [IsRead]) VALUES (1, 1, 1, N'İşlemde', CAST(N'2026-04-15T00:48:04.813' AS DateTime), 0, 1)
INSERT [dbo].[TicketMessages] ([Id], [TicketId], [UserId], [MessageBody], [CreatedAt], [IsDeleted], [IsRead]) VALUES (2, 1, 2, N'teşekkürler', CAST(N'2026-04-15T00:59:08.403' AS DateTime), 0, 1)
INSERT [dbo].[TicketMessages] ([Id], [TicketId], [UserId], [MessageBody], [CreatedAt], [IsDeleted], [IsRead]) VALUES (3, 1, 1, N'çözümlendi', CAST(N'2026-04-15T00:59:32.220' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[TicketMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [Title], [Description], [Status], [Priority], [AttachmentPath], [AttachmentDate], [UserId], [CreatedAt], [IsDeleted]) VALUES (1, N'Deneme', N'kasa açılmıyor', 3, 3, NULL, NULL, 2, CAST(N'2026-04-15T00:47:38.617' AS DateTime), 0)
INSERT [dbo].[Tickets] ([Id], [Title], [Description], [Status], [Priority], [AttachmentPath], [AttachmentDate], [UserId], [CreatedAt], [IsDeleted]) VALUES (2, N'Test', N'Ram Arızası', 3, 4, N'/uploads/e02253b9-5a8e-4bcc-9b2e-bfe4a2212f7c_vivobook.jpg', CAST(N'2026-04-15T01:00:58.293' AS DateTime), 3, CAST(N'2026-04-15T01:00:58.293' AS DateTime), 0)
INSERT [dbo].[Tickets] ([Id], [Title], [Description], [Status], [Priority], [AttachmentPath], [AttachmentDate], [UserId], [CreatedAt], [IsDeleted]) VALUES (3, N'deneme', N'eohfuoıhew', 3, 1, NULL, NULL, 2, CAST(N'2026-04-15T11:40:41.437' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [IsDeleted]) VALUES (1, N'admin', N'1234', 2, 0)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [IsDeleted]) VALUES (2, N'yagiz', N'12345', 1, 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [IsDeleted]) VALUES (3, N'mustafa', N'2398', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E468B5F1D5]    Script Date: 20.04.2026 01:29:01 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TicketMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TicketMessages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TicketMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((2)) FOR [Priority]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TicketMessages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Tickets] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
GO
ALTER TABLE [dbo].[TicketMessages] CHECK CONSTRAINT [FK_Messages_Tickets]
GO
ALTER TABLE [dbo].[TicketMessages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TicketMessages] CHECK CONSTRAINT [FK_Messages_Users]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Users]
GO
